FIREBASE_DATABASE_URL=https://schedule-7ec7a-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
OLDPC_RTDB_BASE_PATH=oldpc
OLDPC_COLLECT_INTERVAL_MS=60000
